@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.manager-logout-list li {
  margin-right: 1rem;
}

.add_category_btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
