{%extends 'Base.html'%} {%block title%}Categories{%endblock%} {%block content%}

<div class="container">
  {%for category in categories%}
  <div
    class="d-flex flex-row align-items-center justify-content-between col-5 mx-auto"
  >
    <h2>{{category.categoryName}}</h2>
    <h4>{{category.categoryId}}</h4>
    <ul>
      {%for product in category.products%}
      <li>{{product.productName}}</li>
      <li>{{product.unit}}</li>
      <li>{{product.rate}}</li>
      <li>{{product.quantity}}</li>

      {%endfor%}
    </ul>
    <div class="d-flex flex-row">
      <button class="btn btn-danger me-2">Delete</button>
      <button class="btn btn-warning">Edit</button>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}
