{%extends 'Base.html'%} {%block title%}Categories{%endblock%} {%block content%}
<a
  href="/addcategory"
  class="add_category_btn btn px-5 py-2 btn-primary position-fixed rounded-5"
  >+</a
>

<div class="row">
  {%if categories == []%}
  <h2 class="text-danger">No categories to show. Please add some categories</h2>
  {%endif%} {%for category in categories %}
  <div class="border border-dark p-3 my-2">
    <h2>Category: {{category.categoryName}}</h2>
    <div class="d-flex flex-column">
      {%if category.products == []%}
      <h4 class="text-danger">No Products in this Category</h4>
      {%endif%} {%for product in category.products%}
      <div class="p-3 border border-primary mb-2">
        <div class="d-flex flex-row justify-content-between">
          <div>
            <h4>Product: {{product.productName}}</h4>
            <ul class="p-0 mb-0">
              <li>Quantity: {{product.quantity}}</li>
              <li>Rate: {{product.rate}}{{product.unit}}</li>
            </ul>
          </div>
          <div class="d-flex flex-column justify-content-between">
            <a
              href="/api/deleteProduct?id={{product.productId}}"
              class="btn btn-danger"
              >Delete Product</a
            >
            <a
              href="/editproduct?id={{product.productId}}"
              class="btn btn-warning"
              >Edit Product</a
            >
          </div>
        </div>
      </div>
      {%endfor%}
      <a href="/addproduct" class="btn btn-primary align-self-center"
        >Add Product</a
      >
    </div>
    <div>
      <a
        href="/api/deleteCategory?id={{category.categoryId}}"
        class="btn btn-danger"
        >Delete Category</a
      >
      <a href="" class="btn btn-warning">Edit Category</a>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}
