{%extends 'Base.html'%} {%block title%}Login{%endblock%} {%block content%}

<div class="login-container">
  <div class="register col-10 col-md-8 col-lg-6 mx-auto mt-5">
    <h2 class="text-center fs-1 mb-3">Login</h2>
    <form method="post" class="login-form">
      <label for="email" class="label-email">Email</label>
      <input type="email" name="email" class="form-control" />
      <label for="password" class="label-password">Password</label>
      <input type="password" name="password" class="form-control" />
      <a href="/register">Don't have an account? Register</a>
      <button type="submit" class="btn btn-primary col-4 mx-auto mt-4">
        Login
      </button>
    </form>
  </div>
</div>

{%endblock%}
