{%extends 'Base.html'%} {%block title%}Register{%endblock%} {%block content%}

<div class="row register-container">
  <div class="register col-10 col-md-8 col-lg-6 mx-auto mt-5">
    <h2 class="text-center fs-1 mb-3">Register</h2>
    <form method="post" class="login-form">
      <label for="email" class="label-email">Email</label>
      <input type="email" name="email" class="form-control" />
      <label for="password" class="label-password">Password</label>
      <input type="password" name="password" class="form-control" />
      <label for="password2" class="label-password2">Confirm Password</label>
      <input type="password" name="password2" class="form-control" />
      <a href="/">Already have an account ? Login</a>
      <button
        type="submit"
        class="login-submit btn btn-primary col-4 mx-auto mt-4"
      >
        Register
      </button>
    </form>
  </div>
</div>
{%endblock%}
